.App {
  text-align: center;
}

.App-phases {
  color: white;
}

body {
  background-image: url("./Moon Memo.png");
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
